<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sportstorew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sportstorew.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sportStorew</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sportStorew</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SportStoreDb" Order="1" Enabled="False">
          <Destination Path="Data Source=jift.database.windows.net;Initial Catalog=SportsStoreDb;Persist Security Info=True;User ID=jift;Password=H1jod3l4gr4nput4" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SportStore.Models.ProductDBContext, SportStore" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SportStoreIdentityDb" Order="2" Enabled="False">
          <Destination Path="Data Source=jift.database.windows.net;Initial Catalog=SportsStoreIdentityDb;Persist Security Info=True;User ID=jift;Password=H1jod3l4gr4nput4" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SportStore.Infraestructure.Identity.StoreIdentityDbContext, SportStore" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="SportStoreIdentityDb-Web.config Connection String">
      <ParameterValue>Data Source=jift.database.windows.net;Initial Catalog=SportsStoreIdentityDb;Persist Security Info=True;User ID=jift;Password=H1jod3l4gr4nput4</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SportStoreDb-Web.config Connection String">
      <ParameterValue>Data Source=jift.database.windows.net;Initial Catalog=SportsStoreDb;Persist Security Info=True;User ID=jift;Password=H1jod3l4gr4nput4</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>